<div class="container mt-4 pt-4">
  <h1 class="m-4 pt-4">New Cocktail</h1>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit class: 'btn btn-primary' %>
  <%end  %>

  <% simple_form_for @cocktail do |f| %>
    <% if @cocktail.errors.any? %>
    <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
       <li> <%= message %> </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>



  <hr>
  <%= link_to cocktails_path do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
</div>
